<config>
	<apiKey>APIキー</apiKey>
	<rmUrl>RedmineサーバのURL</rmUrl>
	<rmAssign>あなたのユーザID（数字）</rmAssign>
	<rmId>
		<open>オープンする時のステータスID</open>
		<start>着手する時のステータスID</start>
		<close>完了する時のステータスID</close>
	</rmId>
</config>